
html, body {
  margin: 0;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  color: #555;
  margin-bottom: 50px;
}

#header {
  background: #314860;
  height: 40px;
  line-height: 36px;
  border-bottom: 1px solid black;
}

    #header h1 {
      font-size: 250%;
      color: white;
      margin: 0;
    }

.container {
  margin: 0 30px;
}

.deck h2 {
  margin: 0;
  margin-top: 30px;
  color: #777;
}

.deck h3 {
  color: #bbb;
  margin: 0;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margins: 60px (30px left, 30px right) */
  /* space between 4 cols: 30px (3 * 10px) */
  grid-auto-rows: calc((100vw - 60px - 30px) / 4 / 1.618);
  grid-gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 5px #bbbbbb;
  background: white;
  transition: background 200ms ease-in-out;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

     .card .text {
       margin: 20px;
     }

       .card .text ul {
         padding-left: 20px;
         text-align: left;
       }

    .card .preview {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 12px;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
    }

    .card.selected {
      box-shadow: inset 0 0 5px #333, 0 0 5px #bbb;
    }

    .card.selected .preview {
      opacity: 1.0;
    }

    .card.passed {
      background: #CCE6CC;
    }

    .card.failed {
      background: #FFCCCC;
    }


/*-------------------------------------------------*/

.deck button .discoverable {
  display: none;
}

.deck button:hover .discoverable {
  display: inline;
}

/*-------------------------------------------------*/

.mouse-off {
  pointer-events: none;
}

/*-------------------------------------------------*/

.error-banner {
  width: fit-content;
  margin-left: 30px;
  margin-top: 30px;
  background: pink;
  border-left: 7px solid red;
  padding: 30px;
  padding-right: 90px;
  white-space: pre;
  font-size: larger;
  color: #333;
}

